# FastAPI 관련 패키지
fastapi==0.111.1
fastapi-cli==0.0.4
starlette==0.37.2

# LangChain 관련 패키지
langchain==0.2.7
langchain-anthropic==0.1.20
langchain-chroma==0.1.2
langchain-cohere==0.1.9
langchain-community==0.2.7
langchain-core==0.2.18
langchain-elasticsearch==0.2.2
langchain-experimental==0.0.61
langchain-google-genai==1.0.7
langchain-huggingface==0.0.3
langchain-milvus==0.1.1
langchain-openai==0.1.16
langchain-teddynote==0.0.11
langchain-text-splitters==0.2.2
langchain-upstage==0.1.7
langchainhub==0.1.20
langdetect==1.0.9
langgraph==0.0.69
langsmith==0.1.85

PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pdfplumber==0.11.3

# FAISS 관련 패키지
faiss-cpu==1.8.0.post1

async-timeout==4.0.3
asyncpg==0.29.0

# Kafka
kafka-python==2.0.2
confluent-kafka==2.5.0